%h3 Unanswered Questions

%table.table.table-hover
  %thead
    %tr
      %th Doctor
      %th Description
      %th
  
  %tbody
    - @unanswered_questions.each do |question|
      %tr
        %td= question.directed_to.name
        %td= question.description
        %td= link_to 'Show', patient_question_path(id: question)
