- if @upcoming_consultation_requests.present?
  = render partial: 'upcoming'
- else
  %i
    You have no upcoming consultations

- if @past_consultation_requests.present?
  = render partial: 'previous' if @past_consultation_requests

= link_to 'Book a consultation', new_patient_consultation_request_path(current_user.patient)
