:sass
  p
    color: red

%h3
  Transcript
  
%p
  This is the email transcript that the patient will receive
%p
  This email will contain the messages and any other information about the interaction
%p
  This includes request information, connection information, list of messages, etc, etc
