#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    = link_to 'Home', root_path, class: 'list-group-item list-group-item-action bg-light'
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Consultations
    = link_to 'Questions', doctor_answers_path, class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Transcripts', transcripts_path, class: 'list-group-item list-group-item-action bg-light'
