#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Home
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Consulations
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Answers
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Transcripts
