#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    = link_to 'Home', root_path, class: 'list-group-item list-group-item-action bg-light'
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Consulations
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Answers
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Transcripts
