#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    = link_to 'Home', root_path, class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Consultations', doctor_consultation_requests_path(doctor_id: current_user.doctor), class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Questions', doctor_answers_path(doctor_id: current_user.doctor), class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Transcripts', doctor_transcripts_path(doctor_id: current_user.doctor), class: 'list-group-item list-group-item-action bg-light'
