:coffee
  $ ->
    $('.company-name').on 'click', ->
      window.location.href = '/'

#sidebar-wrapper.bg-light.border-right
  .sidebar-heading.company-name E Healthcare
  .list-group.list-group-flush
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Dashboard
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Shortcuts
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Overview
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Events
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Profile
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Status
