- if @transcripts.present?
  %h3 Your Transcripts
  %table.table.table-hover
    %thead
      %tr
        %th Doctor
        %th Description
        %th Time of session
        %th

    %tbody
      - @transcripts.each do |transcript|
        %tr
          %td= transcript.chat_room.doctor.name           
          %td= transcript.chat_room.request.description         
          %td= transcript.chat_room.request.created_at.strftime('%d/%m/%y: %H:%M %p')
          %td= link_to 'Show', patient_transcript_path(id: transcript)

- else
  %h3 You have not had any consultations
  