- if @transcripts.present?
  %h3 Your Previous Transcripts
  %table.table.table-hover
    %thead
      %tr
        %th Doctor
        %th Description
        %th Transcript creation time 
        %th 

    %tbody
      - @transcripts.each do |transcript|
        %tr
          %td= transcript.chat_room.doctor.name           
          %td= transcript.chat_room.request.description         
          %td= transcript.updated_at.strftime('%d/%m/%y: %H:%M %p')
          %td= link_to 'Show', patient_transcript_path(id: transcript)

- else
  %h3 There are no transcripts associated to you
  