%h3 Your unanswered questions

%table.table.table-hover
  %thead
    %tr
      %th Doctor
      %th Description
      %th= link_to 'Ask a new question', new_patient_question_path, class: 'btn btn-primary'
  
  %tbody
    - @unanswered_questions.each do |question|
      %tr
        %td= question.directed_to.name
        %td= question.description
        %td= link_to 'Show', patient_question_path(id: question)
