%h3 Your upcoming consultations

%table.table.table-hover
  %thead
    %tr
      %th Doctor
      %th Description
      %th Scheduled for
      %th
  
  %tbody
    - @upcoming_consultations.each do |consultation_request|
      %tr
        %td= consultation_request.directed_to.name
        %td= consultation_request.description
        %td= consultation_request.scheduled_for.strftime("%-d/%-m/%y: %I:%M %p")
        %td= link_to 'Show', patient_consultation_request_path(id: consultation_request)
