%h1 Your urgent request
%p
  %b Description:
  = @urgent_request.description
%p
  %b Attachment:
  - if @urgent_request.media.attached?
    = image_tag @urgent_request.media.variant(resize: "400x400")
  - else
    No attachments provided
= link_to 'Edit', edit_patient_urgent_request_path(@urgent_request)
= link_to 'Back', 'javascript:history.back()'
