#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    = link_to 'Home', root_path, class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Consultations', patient_consultation_requests_path(current_user.patient), class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Questions', patient_questions_path(current_user.patient), class: 'list-group-item list-group-item-action bg-light'
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Subscriptions
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Transcripts
