#sidebar-wrapper.bg-light
  .list-group.list-group-flush
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Home
    = link_to 'Consulations', patient_consulation_requests_path(current_user.patient), class: 'list-group-item list-group-item-action bg-light'
    = link_to 'Questions', patient_questions_path(current_user.patient), class: 'list-group-item list-group-item-action bg-light'
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Subscriptions
    %a.list-group-item.list-group-item-action.bg-light{:href => "#"} Transcripts

