// Custom bootstrap variables must be set or imported *before* bootstrap.
@import  "../node_modules/bootstrap/scss/bootstrap";
@import "avatar";
@import "rails_bootstrap_forms";

body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: #ebf5ff;
  height: 70vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;
  overflow-x: hidden; //horizontal
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    max-width: 600px;
  }

  & + .chat-message-container {
    margin-top: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
}

.me {
  color: $white !important;
  background: lighten($primary, 10%);
  border: 1px solid $primary;
}

.you {
  color: $black !important;
  background: lighten($gray-500, 25%) !important;
  border: 1px solid $white;
}