%meta{ name: 'application-name', content: 'E Health' }
-# Browser favicon
%link{ rel: 'icon', sizes: '16x16', type: 'image/png', href: image_path('logos/favicon-16x16.png') }
-# Taskbar shortcut
%link{ rel: 'icon', sizes: '32x32', type: 'image/png', href: image_path('logos/favicon-32x32.png') }